# Ignorar datasets
avhubert/data
# Ignorar archivos de caché de Python
__pycache__/
# Ignorar la carpeta de configuración de VSCode
.vscode/
# Ignorar checkpoints
avhubert/checkpoints/
# Logs and reports
error/
output/
avhubert/experiment/
# Ignorar envs
avhubert/plots_env