# Ignorar datasets
avhubert/data/datasets/
avhubert/data/demos/
# Ignorar archivos de caché de Python
__pycache__/
# Ignorar la carpeta de configuración de VSCode
.vscode/
# Ignorar checkpoints
avhubert/checkpoints/
