# Data files
data/

# Python bytecode
__pycache__/

# VS Code settings
.vscode/

# Experiment and output files
output/
error/
experiment/

# Checkpoints (models, training)
avhubert/checkpoints/
Wav2Lip/checkpoints

# Temporary and working directories
Wav2Lip/temp

# Backyard scripts (custom scripts and experiments)
avhubert/backyard scripts
Wav2Lip/backyard scripts

others/
